.header {
	margin-bottom: 40px;
	background: var(--bg-color);
	box-shadow: 0px 10px 40px var(--shadow-color);
}

.header__container {
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
}

.header__logo {
	padding: 17px 43px 17px 40px;
	font-size: 0;
}

.header__nav {
	width: 33.6%;
}


.header-nav__list {
	display: flex;
	justify-content: space-evenly;
	padding: 51px 0 16px;
}

.header-nav__item {
	font-size: 12px;
	text-transform: uppercase;
	transition: transform .3s;
}


.nav-item__link {
	padding-top: 3em;
	background-repeat: no-repeat;
	background-position: center top;
}


.link-feed {
	background-image: url('../img/head-feed.svg');
}

.link-network {
	background-image: url('../img/head-network.svg');
}

.link-jobs {
	background-image: url('../img/head-jobs.svg');
}

.link-chat {
	position: relative;
	padding-top: 2.8em;
	background-image: url('../img/head-chat.svg');
}

.link-chat::after {
	content: '1';
	position: absolute;
	width: 16px;
	bottom: 37px;
	left: 19px;
	height: 16px;
	padding-top: 3px;
	background: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
	border-radius: 27px;
	text-align: center;
	font-size: 9px;
	font-weight: 700;
	color: var(--bg-color);
}

.link-notices {
	background-image: url('../img/head-notices.svg');
}

.header__search {
	position: relative;
	width: 25.5%;
}

.header-search__btn {
	position: absolute;
	top: 50%;
	left: 30px;
	width: 24px;
	height: 24px;
	border: none;
	outline: none;
	background-color: transparent;
	background: url('../img/head-search.svg') no-repeat;
	transform: translateY(-50%);
	transition: top .5s;
}

.header-search__input {
	width: 100%;
	padding: 32px 70px 32px 74px;
	background-color: var(--bg-color);
	border: none;
	outline: none;
	color: var(--font-color);
	transition: padding .4s linear;
}

.header-search__input::placeholder {
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	color: var(--placeholder);
}

.header__profile {
	width: 22.92%;
	padding: 23px 10px 23px 87px;
	background: url('../img/profile-img.png') 29px center no-repeat;
	background-size: 40px;
	transition: all .2s;
}

.header-profile__name {
	position: relative;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.header-profile__name::after {
	content: 'You';
	position: absolute;
	margin-left: 11px;
	font-size: 12px;
	text-transform: uppercase;
	color: var(--name-after);
}

.header-profile__views {
	font-size: 12px;
	font-weight: 400;
	color: #747474;
}

.header-profile__views::after {
	content: '+32';
	position: absolute;
	margin-left: 5px;
	padding-right: 12px;
	background: url('../img/arrow-up-right.svg') 28px no-repeat;
	font-size: 12px;
	font-weight: 500;
	color: #02B033;
}

.header__other-btn {
	padding: 52px 23px 15px 23px;
	margin-right: 40px;
	border: none;
	border-right: 1px solid var(--head-border);
	background: url('../img/more-horizontal.svg') center 20px no-repeat;
	background-color: transparent;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--font-color);
	transition: transform .2s;

}

.header__logo,
.header__nav,
.header__search,
.header__profile,
.header__other-btn,
.header__theme-btn {
	border-right: 1px solid var(--head-border);
}

.header__theme-btn {
	position: fixed;
	bottom: 100px;
	right: 100px;
	padding: 52px 23px 15px 23px;
	border: none;
	border-radius: 50%;
	background: url('../img/dark_mode.svg') center 10px no-repeat var(--name-after);
	background-size: 40px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--font-color);
	z-index: 50;
	backdrop-filter: blur(50px)
}


.main-container {
	display: flex;
	justify-content: space-between;
}

.main {
	width: 72%;
}

.hero {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 30px 0px;
	margin-bottom: 71px;
	background: url('../img/hero-bg.jpg') top no-repeat var(--bg-color);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.hero__tools {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 148px;
}

.hero-upload__btn,
.hero-tools__btn {
	display: block;
	width: 36px;
	height: 36px;
	color: var(--font-color);
	border: none;
	border-radius: 4px;
	transition: background-color .5s
}

.hero-tools__upload {
	margin-right: auto;
}

.upload-btn {
	background: url('../img/hero-upload.svg') center no-repeat var(--bg-color);
	cursor: pointer;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.edit-btn {
	width: 132px;
	padding: 0 11px;
	margin-right: 10px;
	background: url('../img/hero-edit.svg') 10px 8px no-repeat var(--bg-color);
	font-size: 12px;
	text-transform: uppercase;
	text-align: end;
}

.more-btn {
	background: url('../img/more-vertical.svg') center no-repeat var(--bg-color);
}

.hero__pic {
	position: relative;
	top: -39px;
	width: 160px;
	height: 160px;
	margin-bottom: -5px;
	background-color: var(--bg-color);
	border-radius: 50%;
	box-shadow: 0 0 0 10px var(--bg-color);
	object-fit: contain;
}

.hero__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 76%;
	max-height: 119px;
}

.hero__name {
	max-width: 50%;
	margin-right: auto;
	font-size: 18px;
}

.hero__location {
	padding-left: 22px;
	background: url('../img/hero-location.svg') no-repeat;
	font-size: 12px;
	font-weight: 400;
}

.hero__description {
	margin-bottom: 15px;
	margin-top: 14px;
	font-weight: 400;
	line-height: 20px;
}

.hero__info-btn,
.hero__connections-btn {
	padding: 9.3px 0;
	width: 170px;
	border-radius: 4px;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	transition: .3s
}

.hero__info-btn {
	margin-right: 15px;
	background: linear-gradient(#0077B5, #0E6795);
	color: #fff;
}

.hero__connections-btn {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #0275B1;
	color: #0275B1;
}



.tabs {
	display: flex;
	margin-bottom: -21px;
	background-image: var(--tabs-grad);
	border-top: 1px solid var(--tabs-border);
	border-radius: 0;
}

.tabs__btn {
	position: relative;
	bottom: 41px;
	width: 240px;
	height: 40px;
	margin-right: -1px;
	background-color: var(--bg-color);
	border: 1px solid var(--tabs-border);
	border-bottom: none;
	font-size: 12px;
	font-weight: 500;
	color: var(--font-color);
	text-transform: uppercase;
	outline: none;
}

.tabs__btn:first-child {
	border-top-left-radius: 4px;
}

.tabs__btn:last-child {
	border-top-right-radius: 4px;
}

.articles-btn::after {
	content: attr(data-articles);
	margin-left: 5px;
}

.tabs__btn--active {
	height: 49px;
	bottom: 50px;
	background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
	border: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	z-index: 1;
}

.about {
	padding: 30px 30px 35px;
	margin-bottom: 17px;
	background-color: var(--bg-color);
}

.about__title {
	margin-bottom: 15px;
	font-size: 18px;
}

.about__description {
	margin-bottom: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.about__more {
	font-size: 12px;
	font-weight: 500;
	color: #0275B1;
	text-transform: uppercase;
}

.projects {
	padding: 30px;
	margin-bottom: 19px;
	background-color: var(--bg-color);
}

.projects__title {
	margin-bottom: 23px;
	font-size: 18px;
}

.projects__title::after {
	content: attr(data-projects);
	margin-left: 15px;
	font-size: 18px;
	font-weight: 400;
	color: #747474;
}

.projects__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.projects-item {
	display: none;
}

.projects__item:not(:nth-child(-n+3)) {
	margin-top: 20px;
}

.projects-link__article {
	width: 250px;
	padding-top: 177px;
	background-repeat: no-repeat;
	background-position: top;
}

.zara-redesign {
	background-image: url('../img/projects-redesign.jpg');
}

.scthon {
	background-image: url('../img/projects-scthon.jpg');
}

.drozd {
	background-image: url('../img/projects-drozd.jpg');
}

.projects-article__title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
}

.projects-article__subtitle {
	font-size: 10px;
	font-weight: 300;
}

.projects__more {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 12px;
	font-weight: 500;
	color: #0275B1;
	text-transform: uppercase;
}

.projects__more::after {
	content: attr(data-show-all);
	margin-left: 4px;
}

.skills {
	padding: 30px 30px 31px;
	margin-bottom: 19px;
	background-color: var(--bg-color);
}

.skills__title {
	margin-bottom: 21px;
	font-size: 18px;
}

.skills__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 22px;
}

.skills__item {
	display: none;
}

.skills__item:not(:nth-child(-n+3)) {
	margin-top: 15px;
}

.skills-item__article {
	width: 250px;
	padding: 15px 19px 11px;
	border: 1px solid #F4F4F4;
	border-radius: 6px;
}


.skills-article__title {
	position: relative;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
}

.skills-article__title::after {
	content: attr(data-users);
	position: absolute;
	right: 0;
	font-weight: 700;
	color: #0275B1;
}


.skills__more {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 12px;
	font-weight: 500;
	color: #0275B1;
	text-transform: uppercase;
}

.skills__more::after {
	content: attr(data-show-all);
	margin-left: 4px;
}

.experience {
	margin-bottom: 20px;
	padding: 30px 30px 31px;
	background-color: var(--bg-color);
}

.experience__title {
	margin-bottom: 25px;
	font-size: 18px;
}

.experience__item:not(:last-child) {
	margin-bottom: 22px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--head-border);
}

.exp-item__article {
	padding-left: 69px;
	background-repeat: no-repeat;
}

.freelance {
	background-image: url(../img/exp-freelance.svg);
}

.upwork {
	background-image: url('../img/exp-upwork.svg');
}

.exp-article__title {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 500;
}

.exp-article__employment {
	margin-bottom: 9px;
	font-size: 10px;
	font-weight: 400;
}

.employment-location {
	margin-left: 10px;
	font-weight: 300;
}

.exp-article__period {
	margin-bottom: 12px;
	font-size: 10px;
	font-weight: 300;
}

.period-amount {
	margin-left: 10px;
	font-weight: 500;
	color: #0275B1;
}

.exp-article__description {
	font-size: 10px;
	font-weight: 400;
	line-height: 1.5;
}

.education {
	padding: 29px 30px 34px;
	margin-bottom: 20px;
	background-color: var(--bg-color);
}

.education__title {
	font-size: 18px;
	margin-bottom: 25px;
}

.education-item__article {
	padding-left: 70px;
	background-repeat: no-repeat;
	background-size: 54px;
}

.mglu {
	background-image: url('../img/mglu.png');
}

.education-artcile__title {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 500;
}

.education-article__branch {
	margin-bottom: 9px;
	font-size: 10px;
	font-weight: 400;
}

.education-article__period {
	margin-bottom: 14px;
	font-size: 10px;
	font-weight: 300;
}

.education-article__extra {
	font-size: 10px;
	font-weight: 400;
}

.aside {
	width: 24.6%;
}

.dashboard {
	padding: 25px 30px 34px;
	margin-bottom: 20px;
	background-color: var(--bg-color);
}

.dashboard__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--head-border);

}

.dashboard__title,
.dashboard__stats {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.dashboard__stats {
	color: #0275B1;
	text-decoration: underline;
}

.dashboard__list {
	padding-top: 69px;
}

.dashboard__item {
	position: relative;
	font-size: 14px;
	font-weight: 400;
}

.dashboard__item:not(:last-child) {
	margin-bottom: 75px;
}

.dashboard__item::after {
	content: attr(data-dashboard);
	position: absolute;
	left: 0;
	bottom: 13px;
	font-size: 52px;
	font-weight: 500;
	color: #0275B1;
}


.visitors {
	padding: 25px 30px 31px;
	margin-bottom: 20px;
	background-color: var(--bg-color);
}

.visitors__wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-bottom: 17px;
	border-bottom: 1px solid var(--head-border);
}

.visitors__title,
.visitors__all {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.visitors__all {
	color: #0275B1;
}


.visitors__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 52px;
	padding-left: 67px;
}

.visitors-item:not(:last-child) {
	margin-bottom: 15px;
}


.visitors-item__userpic {
	position: absolute;
	left: 0;
	width: 52px;
}

.visitors-item__name {
	margin-bottom: 6px;
	font-size: 14px;
}

.visitors-item__position {
	font-size: 10px;
	font-weight: 400;
}

.courses {
	padding: 25px 30px 26px;
	margin-bottom: 20px;
	background-color: var(--bg-color);
}

.courses__title {
	padding-bottom: 17px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--head-border);
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.courses__list {
	margin-bottom: 26px;
}

.courses-item__article {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 52px;
	margin-bottom: 19px;
	padding-left: 95px;

}

.courses-article__video {
	position: absolute;
	left: 0;
	width: 80px;
}

.courses-article__title {
	font-size: 14px;
	line-height: 1.35;
}

.courses-article__views {
	font-size: 10px;
	font-weight: 400;
}

.courses__all {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #0275B1;
}

.footer {
	margin-top: 40px;
	padding-top: 33px;
	padding-bottom: 50px;
	background: var(--page-bg);
	border-top: 1px solid var(--tabs-border);
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	position: relative;
	bottom: 4px;
	margin: 0;
}

.footer-logo__img {
	margin-bottom: 10px;
}

.caption-span {
	color: #0275B1;
}

.footer-nav {
	box-shadow: none;
}

.footer-nav__title {
	margin-bottom: 28px;
	font-size: 12px;
	font-weight: 500;
}

.footer-nav__list {
	font-size: 12px;
	font-weight: 400;
	columns: 3;
	gap: 35px;
}

.footer-nav__item {
	transition: transform .5s;
}

.footer-nav__item:not(:nth-child(4n)) {
	margin-bottom: 12px;
}

.footer__fast-access {
	position: relative;
	left: 9px;
	box-shadow: none;
}

.fast-access__btn {
	transition: transform .2s;
}

.fast-access__title {
	margin-bottom: 22px;
	font-size: 12px;
	font-weight: 500;
}


.question-btn,
.settings-btn {
	display: block;
	padding: 9.5px 15px;
	width: 170px;
	border-radius: 4px;
	border: none;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
}

.question-btn {
	margin-bottom: 10px;
	background: url('../img/help-circle.svg') 139px center no-repeat #0275B1;
	color: var(--bg-color);
}

.settings-btn {
	background: url('../img/settings.svg') 138px center no-repeat transparent;
	color: #0275B1;
	box-shadow: inset 0 0 0 1px #0275B1;
}

.footer__lang {
	box-shadow: none;
}

.footer-lang__title {
	margin-bottom: 22px;
	font-size: 12px;
	font-weight: 500;
}

.footer-lang__select {
	width: 270px;
	padding: 9px 10px;
	border: 1px solid #F0F0F0;
	border-radius: 4px;
	font-size: 12px;
	text-transform: uppercase;
}
